/* @font-face {
    font-family: 'neuzeitgroteskregular';
    src: url('../font/NeuzeitGrotesk-webfont.eot');
    src: url('../font/NeuzeitGrotesk-webfont.eot?#iefix') format('embedded-opentype'), url('../font/NeuzeitGrotesk-webfont.woff2') format('woff2'), url('../font/NeuzeitGrotesk-webfont.woff') format('woff'), url('../font/NeuzeitGrotesk-webfont.ttf') format('truetype'), url('../font/NeuzeitGrotesk-webfont.svg#neuzeitgroteskregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuzeitgroteskboldregular';
    src: url('../font/NeuzeitGroteskBold-webfont.eot');
    src: url('../font/NeuzeitGroteskBold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/NeuzeitGroteskBold-webfont.woff2') format('woff2'), url('../font/NeuzeitGroteskBold-webfont.woff') format('woff'), url('../font/NeuzeitGroteskBold-webfont.ttf') format('truetype'), url('../font/NeuzeitGroteskBold-webfont.svg#neuzeitgroteskboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'distant_galaxyregular';
    src: url('../font/distgrg_-webfont.eot');
    src: url('../font/distgrg_-webfont.eot?#iefix') format('embedded-opentype'), url('../font/distgrg_-webfont.woff2') format('woff2'), url('../font/distgrg_-webfont.woff') format('woff'), url('../font/distgrg_-webfont.ttf') format('truetype'), url('../font/distgrg_-webfont.svg#neuzeitgroteskboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */

// body,
// button,
// input,
// select,
// textarea {
//     // color: $color__text-main;
//     font-family: $font__main;
//     @include font-size(1);
//     line-height: $font__line-height-body;
// }

// @import "headings";
// @import "copy";
