//
// Shorthand names
//
// main = mn
// color = clr
// primary = pr
// secondary = sc

.sm-text {
    line-height: 1.1;
    color: #373737;
}

.absolute-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.absolute-center {
    @include absolute-center();
}

.verticle-center {
    @include verticle-center();
}

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

.width100 {
    width: 100%;
}

.hinherit {
    height: inherit;
}

.height100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

.height-inherit {
    height: inherit;
}

.h100vh {
    height: 100vh;
}

.w-bg {
    background: $white;
}

.transparent-bg {
    background: transparent;
}

.g-bg {
    background: #eaeaea;
}

.red-border {
    border: 2px solid $tertiaryClr;
}

.red-bg {
    background: $tertiaryClr;
}

.pr-bg {
    background-color: $primaryClr;
}

.sc-clr {
    background-color: $secondaryClr;
}

.purple-clr {
    color: $purple;
}

.sc-clr {
    // color: $header-color;
}

.w-clr {
    color: $white;
}

.b-clr {
    color: #000;
}

.red-clr {
    color: $tertiaryClr;
}

.inherit-clr {
    color: inherit;
}

// .light-b-clr {
//     color: #626262
// }

.r-clr {
    color: $color__hover--red;
}

.s-clr {
    // color: $silver
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible !important;
}

.list-n {
    list-style: none;
}

.testingBG1 {
    background: chocolate;
}

.testingBG2 {
    background: purple;
}

.b-u {
    // background: $primary-color;
    // color: $white;
    padding-bottom: 2px;
    &:hover {
	    // color: $white;    	
    }
}
.td-n {
    text-decoration: none;
}

.letters1 {
    letter-spacing: 1px;    
}


.n-w {
    white-space: nowrap;
}

.cw {
    // @include background(#fff);
}

.arrow {
    // @include custom-triangle();
}

.p-r {
    position: relative;
}

.p-st {
    position: static;    
}

.p-ab {
    position: absolute;
}

.top0 {
    top: 0;
}

.top2 {
    top: 2rem;
}

.right0 {
    right: 0;
}

.left0 {
    left: 0;
}

.bottom0 {
    bottom: 0;
}


.inherit {
    display: inherit;
}

.hide {
    display: none;
}

.block {
    display: block;
}

.displayin {
    display: inline;
}

.displayinb {
    display: inline-block;
}

.displayt {
    display: table;
}

.displayf {
    display: flex;
}

.caps {
    text-transform: uppercase;
}

.m-auto {
    margin: 0 auto !important;
}

.m0 {
    margin: 0 !important;
}

.mln1 {
    margin-left: -1rem;
}

.ml0 {
    margin-left: 0;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: rem-calc(25);
}

.m20 {
    margin: rem-calc(20);
}

.mt0 {
    margin-top: 0;
}

.mt10 {
    margin-top: rem-calc(10);
}

.mt15 {
    margin-top: rem-calc(15);
}

.mt20 {
    margin-top: rem-calc(20);
}

.mr20 {
    margin-right: rem-calc(20);
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb0 {
    margin-bottom: 0;
}

.mt25 {
    margin-top: rem-calc(25);
}

.pb35 {
    margin-bottom: rem-calc(20);
}


.mt30 {
    margin-top: rem-calc(30);
}

.mt35 {
    margin-top: rem-calc(35);
}

.mt40 {
    margin-top: rem-calc(40);
}
.mtn40 {
    margin-top: -40px;
}

.mb50 {
    margin-bottom: rem-calc(50);
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.p3 {
    padding: 3rem;
}

.p4 {
    padding: 4rem;
}

.p0 {
    padding: 0 !important; //to break grids
}

.p20 {
    padding: rem-calc(20);
}

.pt35 {
    padding-top: rem-calc(35);
}

.pl0 {
    padding-left: 0;
}

.pr0 {
    padding-right: 0;
}

.pt0 {
    padding-top: rem-calc(0);
}

.pb0 {
    padding-bottom: 0;
}

.pt10 {
    padding-top: rem-calc(10);
}

.pt20 {
    padding-top: rem-calc(20);
}

.pl20 {
    padding-left: rem-calc(20);
}

.pl30 {
    padding-left: rem-calc(30);
}

.pr20 {
    padding-right: rem-calc(20);
}

.n-border-radius {
    border-radius: 0;
}

.b-radius-1 {
    border-radius: 1rem;
}

// @for $i from 1 through 5 {
//     .b-radius-#{$i} {
//        border-radius:  $i+px;
//     }
// }

.n-border {
    border: none;
}

.btn-br {
    border-radius: 4px;
}
//small box-container
.xbox-con {}

.__hasicon-con {
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    height: 50px;
}

.fw-light {
    font-weight: 200;
}

.bold {
    font-weight: 700; //bold //could use 700 as i was using previously and it works just fine
    // font-weight: bold; //bold //as its specifies in design that havlent bold, whatever the correct name is of font.
}

.extra-bold {
    font-weight: 900;
}


.norm {
    font-weight: 400; //normal
}

$font-sizes: rem-calc(10),
rem-calc(20),
rem-calc(30);
@for $i from 1 through length($font-sizes) {
    .ctext-#{$i} {
        font-size: nth($font-sizes, $i);
    }
}

// medium font size
.m-text {
    // font-size: rem-calc();
}

// hightlight, focus element
.focusitem {
    // color: $primary-color;
    color: #f9706a;
    font-size: rem-calc(35);
    // @include text-shadow(0 1px);
}

// box-shadow
.bx-sh {
    // @include main-box-shadow();
}

.gbx-sh {
    // @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}

.b-anim {
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    // @include transition(background-color 400ms ease, box-shadow 600ms ease);
    &:hover {
        // @include box-shadow(0 0 0 10px rgba(0, 0, 0, 0.1));
    }
}

.transy-anim {
    // @include transition(all 0.25s cubic-bezier(0.47, 0, 0.75, 0.72));
    &:hover {
        // @include transform(translateY(-6px) scale(1.02));
        // border-radius: 1px;
    }
}

.lh-4 {
    line-height: 1.4;
}

.lh-1 {
    line-height: 1;
}
.lh-no {
    line-height: 0;
}

// $height-list: 400, 270;
// @for $i from 1 through length($height-list) {
//     .content-secondary-#{$i} {
//         height: nth($height-list, $i) + px;
//         .content-secondary-text {
//             min-height: nth($height-list, $i) + px;        
//         }
//     }
// } //loop end
// $h1-font-size: rem-calc(44);
// $h2-font-size: rem-calc(37);
// $h3-font-size: rem-calc(27);
// $h4-font-size: rem-calc(23);
// $h5-font-size: rem-calc(18);
// $h6-font-size: 1rem;
